.orderTable {
  max-width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 40px 0;
  font-size: 16px;
  text-align: left;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid rgb(255, 255, 255);
}

.orderTable th,
.orderTable td {
  padding: 12px 15px;
  border: 1px solid rgb(255, 255, 255);
  font-weight: normal;
}

.orderTable th {
  text-align: center;
}

.orderTable thead {
  background-color: #84b05e;
  color: #ffffff;
}

.orderTable tbody tr:nth-of-type(even) {
  background-color: #ddebce;
}

.orderTable tbody tr:hover {
  background-color: #ffffff;
}

.cancelButton,
.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #d03030;
  color: white;
  border: none;
  padding: 0px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  font-weight: bold;
}

.cancelButton:hover,
.deleteButton:hover {
  background-color: #cf1313;
  transform: scale(1.2);
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1080px) {
  .orderTable {
    max-width: 90%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid rgb(255, 255, 255);
  }

  .orderTable th,
  .orderTable td {
    padding: 12px 15px;
    border: 1px solid rgb(255, 255, 255);
    font-weight: normal;
  }

  .orderTable th {
    text-align: center;
  }

  .orderTable thead {
    background-color: #84b05e;
    color: #ffffff;
  }

  .orderTable tbody tr:nth-of-type(even) {
    background-color: #ddebce;
  }

  .orderTable tbody tr:hover {
    background-color: #ffffff;
  }

  .cancelButton,
  .deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #d03030;
    color: white;
    border: none;
    padding: 0px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    font-weight: bold;
  }

  .cancelButton:hover,
  .deleteButton:hover {
    background-color: #cf1313;
    transform: scale(1.2);
  }
}
