.orderTable {
    max-width: 90%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 40px 0;
    font-size: 16px;
    text-align: left;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid rgb(255, 255, 255);
}

.orderTable th,
.orderTable td {
    padding: 12px 15px;
    border: 1px solid rgb(255, 255, 255);
    font-weight: normal;
}

.orderTable th {
    text-align: center;
}

.orderTable thead {
    background-color: #84b05e;
    color: #ffffff;
}

.orderTable tbody tr:nth-of-type(even) {
    background-color: #ddebce;
}

.orderTable tbody tr:hover {
    background-color: #ffffff;
}

.orderTable td button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderTable td .deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #d03030;
    color: white;
    border: none;
    padding: 0px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    font-weight: bold;
}

.deleteButton:hover {
    background-color: #cf1313;
    transform: scale(1.2);
}