.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  background-color: #f2f7ec;
  margin-top: 100px;
  background-image: url("../../../assets/background.png");
  background-position: right bottom;
  background-size: 50em;
  background-repeat: no-repeat;
}

.container p {
  font-size: 20px;
  padding: 10px 20px;
}

.h2 {
  font-size: 36px;
  font-weight: bold;
  padding: 10px 15px 20px 20px;
  color: #2a412f;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 160px;
  height: 100vh;
  background-color: #7ca45a;
  border-radius: 0px 20px 0px 0px;
  padding-top: 6vh;
  padding-left: 5vw;
}

.panel .dataText {
  color: white;
}

.link {
  text-decoration: none;
}

.link .dataText:hover {
  background-color: white;
  color: #2a412f;
  border-radius: 10px 0px 0px 10px;
  box-shadow: inset 0px 22px 0px -21px #8dc060;
}

.link .dataText:active {
  font-weight: 700;
  box-shadow: inset 0px 22px 0px -21px #8dc060;
}

.orderText {
  background-color: white;
  border-radius: 10px 0px 0px 10px;
}

.panel .orderText {
  color: #2a412f;
  box-shadow: none;
}

.main {
  padding-top: 6vh;
  padding-left: 5vw;
}

.main p {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* @media (max-width: 767px) {
  .container p {
      margin-left: 10vw; 
  }
} */
