.basket {
  width: 100%;
  max-height: 75vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  /* min-height: 400px; */
  gap: 10px;
}

.basket h3 {
  font-size: 26px;
  font-weight: bold;
}

.content {
  width: 80%;
  height: 50%;
  flex: 0 1 70%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  box-sizing: border-box;
}

.content h5 {
  font-weight: bold;
  font-size: 18px;
  color: #57ab27;
}

.item {
  border-top: 1px solid #2a412f;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.price {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 20px;
}
