.customTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 40px 0;
  font-size: 18px;
  text-align: left;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid rgb(255, 255, 255);
}

.customTable th,
.customTable td {
  padding: 12px 15px;
  border: 1px solid rgb(255, 255, 255);
  font-weight: normal;
}

.customTable th {
  text-align: center;
}

.customTable thead {
  background-color: #1a4b0b;
  color: #ffffff;
}

.customTable tbody tr:nth-of-type(even) {
  background-color: #e7f9e2;
}

.customTable tbody tr:hover {
  background-color: #ffffff;
}
