.customTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.customTable th,
.customTable td {
  padding: 12px 15px;
  border: 1px solid rgb(168, 168, 168);
}

.customTable thead {
  background-color: rgb(221, 236, 249);
}

.customTable tbody tr:nth-of-type(even) {
  background-color: rgb(228, 237, 245);
}

.customTable tbody tr:hover {
  background-color: #c6e9bc;
}
