.whyTrustUsTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 46px;
  color: #42811e;
  font-weight: bolder;
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 10px;
  margin: 50px 0px;
}

.reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.part {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  margin: 20px 10px;
}

.rows {
  display: flex;
  flex-direction: row;
}

.icon {
  max-width: 100%;
  max-height: 100%;
}

.paragraphs {
  text-align: center;
  padding: 5px;
  margin: 10px 0;
  font-size: 18px;
  color: black;
  font-weight: normal;
  line-height: 1.5;
}

.highlight {
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .whyTrustUsTitle {
    font-size: 26px;
    margin-top: 20px;
  }

  .container {
    margin: 15px 0px;
  }

  .part {
    width: 50vw;
    margin: 10px 10px;
  }

  .rows {
    display: flex;
    flex-direction: column;
  }
  .paragraphs {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .whyTrustUsTitle {
    font-size: 36px;
    margin-top: 40px;
  }

  .container {
    margin: 30px 0px;
  }

  .paragraphs {
    font-size: 16px;
  }
}
