.dedication {
  width: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dedicationArea {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  margin-top: 20px;
}

.here select {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid rgb(87, 171, 39);
  background-color: white;
}

.here select:hover {
  cursor: pointer;
}

.here select:focus {
  outline: none;
}

.existing,
.custom {
  width: 100%;
}

.customInput {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(87, 171, 39);
  border-radius: 4px;
}

.customInput:focus {
  outline: none;
}

.warning {
  color: red;
}

@media (max-width: 767px) {
  .dedicationArea {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .here select,
  .customInput {
    height: 40px;
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .dedicationArea {
    gap: 30px;
  }

  .here select {
    margin-top: 0;
  }
}
