.dedication {
  width: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  /* border-top: 10px solid rgb(242, 247, 236); */
  padding-top: 50px;
}
.dedicationArea {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}
.here select {
  border-radius: 10px;
  border: 2px solid rgb(87, 171, 39);
  font-size: 16px;
}
.here select:hover {
  cursor: pointer;
}

.here select:focus {
  outline: none;
}

.existing input {
  cursor: default;
}
.existing input:hover {
  cursor: default;
}

.dedicationSelect {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.dedicationText {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.dedicationSelect,
.customInput {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  background-color: white;
}

.customInput {
  height: 40px;
  font-size: 16px;
  border: 1px solid rgb(87, 171, 39);
  border-radius: 4px;
}

.customInput:focus,
.dedicationSelect:focus {
  outline: none;
}
.warning {
  color: red;
}
