.introduction {
  display: flex;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(201, 216, 230);
  padding: 30px;
}

.hero {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  margin-left: 5%;
  margin-right: 18px;
}

.entryTitle {
  font-size: 46px;
}

.entry {
  font-size: 24px;
  line-height: 1.5;
}

.map {
  width: 45%;
  height: 700px;
  background-color: gray;
  margin-right: 5%;
}

button {
  margin-top: 0px;
  margin-left: 0px;
}
