.aboutTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 46px;
  color: #42811e;
  font-weight: bolder;
  padding: 20px;
  margin-top: 70px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  margin: 50px 0px 80px 0px;
  height: auto;
}

.img {
  border-radius: 30px;
  width: 55vw;
  background-image: url('/src/assets/About/hands.jpg');
  background-size: cover;
  background-position: center;
}

.paragraphs {
  padding: 0 5px;
  margin: 0px 0px 0px 50px;
  font-size: clamp(1.125rem, 0.8387rem + 0.4469vw, 1.375rem);
  flex: 1;
  color: black;
  font-weight: normal;
  line-height: 1.5;
}

.highlight {
  font-weight: bold;
}

@media (max-width: 767px) {
  .aboutTitle {
    font-size: 26px;
    padding: 10px;
    margin-top: 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 30px 0px;
    height: 1000px;
    justify-content: space-between;
  }

  .img {
    border-radius: 15px;
    width: 80vw;
    height: 150px;
    background-image: url('/src/assets/About/hands.jpg');
    background-size: cover;
    margin-bottom: 20px;
  }
  
  .paragraphs {
    margin: 0px;
    width: 80vw;
    font-size: clamp(1.025rem, 0.8387rem + 0.2469vw, 1.375rem);
    line-height: 1.3;
    gap: 10px;
    line-height: 1.5;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {

  .aboutTitle {
    font-size: 36px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 30px 0px;
    height: 1000px;
    justify-content: space-between;
  }

  .img {
    border-radius: 15px;
    width: 80vw;
    height: 300px;
    background-image: url('/src/assets/About/hands.jpg');
    background-size: cover;
    margin-bottom: 20px;
  }
  
  .paragraphs {
    margin: 0px;
    width: 80vw;
    /* font-size: clamp(1.025rem, 0.8387rem + 0.2469vw, 1.375rem); */
    line-height: 1.3;
    gap: 10px;
  }

  .paragraphs p {
    font-size: clamp(1.025rem, 0.8387rem + 0.2469vw, 1.375rem);

  }
}