.trees {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.carousel {
  max-width: 80%;
  height: 400px;
  margin: 0 auto;
}
.slide {
  height: 400px;
  width: 800px;
  display: grid;
  grid-template-columns: 300px, 1fr;
  grid-template-rows: 1fr;
  background-color: aliceblue;
  margin-bottom: 10px;
  align-items: stretch;
}
.img {
  width: 300px;
  height: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  padding: 20px;
  flex: 1;
}
.type {
  margin-bottom: 10px;
}
.desc {
  margin-bottom: 20px;
}
.price {
  margin-top: auto;
}
