.trees {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.carousel {
  max-width: 80%;
  height: 400px;
  margin: 0 auto;
}
.slide {
  height: 400px;
  width: 800px;
  display: flex;
  background-color: aliceblue;
  margin-bottom: 50px;
  border: 2px solid red;
  box-sizing: border-box;
}
.img {
  width: 300px;
  height: 100%;
  background-color: gray;
  flex-shrink: 0;
  border: 2px solid blue;
  box-sizing: border-box;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  flex-grow: 1;
  border: 2px solid green;
  overflow: hidden;
  box-sizing: border-box;
}
.type {
  margin-bottom: 10px;
}
.desc {
  margin-bottom: 20px;
}
.price {
  margin-top: auto;
}
