.howItWorksTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 46px;
  color: #42811e;
  font-weight: bolder;
  padding: 20px;
  margin-top: 70px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 50px 0px 80px 0px;
}

.photo {
  border-radius: 30px;
  width: 40vw;
  height: auto;
}

.paragraphs {
  margin: 0px 25px 0px 35px;
  font-size: 22px;
  flex: 1;
  color: black;
  font-weight: normal;
  line-height: 1.5;
}

.paragraphs p {
  padding: 15px;
  border: solid 2px #42811e;
  border-radius: 20px;
  margin-bottom: 20px;
}

.highlight {
  font-weight: bold;
}
