.passwordReminderModule {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  background-image: url("../../assets/LoginRegister/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.passwordReminderForm {
  background-color: rgba(245, 245, 245, 0.705);
  height: 550px;
  width: 550px;
  border-radius: 30px;
  padding: 20px;
  transform: translateY(40px);
}

.welcomeTitle {
  color: black;
  font-size: 20px;
}

.fourTino {
  color: green;
}

.passwordReminderTitle {
  color: black;
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}