.tablets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.desc {
  width: 80%;
  font-size: 20px;
  text-align: center;
}

.carousel {
  width: 95%;
  height: 600px;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 100px;
}

.slide {
  width: 90%;
  width: fit-content;
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-rows: 1fr;
  background-color: rgb(242, 247, 236);
  align-items: stretch;
  border-radius: 15px;
}
.slide img {
  border-radius: 15px;
}
.add {
  display: flex;
  align-items: center;
  gap: 50px;
}
.displayed {
  text-align: center;
  width: 200px;
  background-color: rgb(242, 247, 236);
  padding: 12px 20px;
  border: 2px solid rgb(87, 171, 39);
  border-radius: 10px;
}
