.tablets {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.desc {
  width: 80%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.carousel {
  width: 90%;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 5%;
}

.slide {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: rgb(242, 247, 236);
  align-items: stretch;
  border-radius: 15px;
  margin: 0 auto;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.add {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.displayed {
  text-align: center;
  width: 200px;
  background-color: white;
  padding: 12px 20px;
  border: 2px solid rgb(87, 171, 39);
  border-radius: 10px;
}

/* Styl dla telefonów */
@media (max-width: 767px) {
  .carousel {
    height: 350px;
    margin-bottom: 50px;
    width: 80%;
  }

  .slide {
    border-radius: 10px;
  }

  .desc {
    font-size: 16px;
  }
  .heading {
    width: 90%;
    justify-self: center;
    text-align: center;
  }
}

/* Styl dla tabletów */
@media (min-width: 768px) and (max-width: 1080px) {
  .carousel {
    width: 90%;
    height: 500px;
  }

  .displayed {
    width: 250px;
  }
}
