.navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba(245, 245, 245, 0.663);
  border-bottom: solid #5da746 1px;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.bigIcon {
  width: 200px;
  height: 50px;
}

.navMenu {
  display: flex;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
}

.loginPanel {
  display: flex;
  gap: 10px;
  align-items: center;
}

.item {
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 15px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.item:hover {
  color: #42811e;
  background-color: rgba(245, 245, 245, 0);
}

.userMenuContainer {
  position: relative;
}

.userIcon {
  height: 35px;
  width: auto;
  padding-left: 15px;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  min-width: 175px;
  border-radius: 0 0 15px 15px;
  font-size: 18px;
  padding-top: 10px;
}

.menuItem {
  display: block;
  padding: 15px 20px 10px 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.menuItem:hover {
  color: #42811e;
}

.preloader {
  margin-top: auto;
  padding: 20px;
}
