html,
body {
  overflow: hidden;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  background-color: #f2f7ec;
  margin-top: 100px;
  background-image: url("../../../assets/background.png");
  background-position: right bottom;
  background-size: 50em;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container p {
  font-size: 20px;
  padding: 10px 20px;
}

.h2 {
  font-size: 36px;
  font-weight: bold;
  padding: 10px 15px 20px 20px;
  color: #2a412f;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 160px;
  max-width: 18vw;
  height: 100vh;
  background-color: #7ca45a;
  border-radius: 0px 20px 0px 0px;
  color: white;
  padding-top: 6vh;
  padding-left: 6vw;
  position: fixed;
  margin-top: 3px;
}

.panel .orderText {
  color: white;
}

.link {
  text-decoration: none;
}

.link .orderText:hover {
  background-color: white;
  color: #2a412f;
  border-radius: 10px 0px 0px 10px;
  box-shadow: inset 0px -22px 0px -21px #8dc060;
}

.link .orderText:active {
  font-weight: 700;
  box-shadow: inset 0px -22px 0px -21px #8dc060;
}

.dataText {
  background-color: #f2f7ec;
  border-radius: 10px 0px 0px 10px;
}

.panel .dataText {
  color: #2a412f;
  box-shadow: none;
}

.main {
  padding-top: 6vh;
  padding-left: 22vw;
}

.main p {
  display: flex;
  justify-content: start;
  align-items: center;
}

.dataForm {
  width: auto;
  padding: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gridContainer {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 90px 90px 90px 90px;
  gap: 20px;
  justify-content: start;
  grid-template-areas:
    "input1 input2"
    "input3 input4"
    "input5 input6"
    "input7 .";
}

.inputType:nth-child(1) {
  grid-area: input1;
}

.inputType:nth-child(2) {
  grid-area: input2;
}

.inputType:nth-child(3) {
  grid-area: input3;
}

.inputType:nth-child(4) {
  grid-area: input4;
}

.inputType:nth-child(5) {
  grid-area: input5;
}

.inputType:nth-child(6) {
  grid-area: input6;
}

.inputType:nth-child(7) {
  grid-area: input7;
}

.inputType p {
  font-size: 16px;
  padding-left: 0px;
}

.readOnlyInput input[type="text"] {
  width: 100%;
}

input:focus {
  outline: solid 2px #57ab27;
}

.firstName,
.lastName,
.phone,
.readOnlyInput,
.currentPassword,
.errorText,
.errorText {
  background-color: none;
  cursor: not-allowed;
}

.form .fieldError {
  border: 1px solid red;
}

@media (max-width: 767px) {
  .h2 {
    font-size: 20px;
    margin-left: 170px;
  }

  .panel {
    height: 130px;
    padding-top: 20px;
    padding-left: 3vw;
    width: 200px;
    border-radius: 0px 20px 20px 0px;
  }

  .panel p {
    font-size: 16px;
  }

  .main {
    padding-top: 3vh;
    padding-left: 10px;
  }

  .dataForm {
    margin: 40px 0px 0px 10px;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 70px 70px 70px 70px;
    gap: 20px;
    justify-content: start;
    grid-template-areas:
      "input1 input2"
      "input3 input4"
      "input5 input6"
      "input7 .";
  }
  .inputType p {
    font-size: 14px;
    width: 100px;
  }

  .inputType input {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .h2 {
    font-size: 22px;
    margin-left: 170px;
  }

  .panel {
    height: 170px;
    border-radius: 0px 20px 20px 0px;
    padding-top: 40px;
    padding-left: 3vw;
  }

  .panel p {
    font-size: 18px;
  }

  .main {
    padding-top: 6vh;
    padding-left: 2vw;
  }

  .dataForm {
    margin: 30px 0px 0px 170px;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 170px 170px;
    grid-template-rows: 70px 70px 70px 70px;
    gap: 20px;
    justify-content: start;
    grid-template-areas:
      "input1 input2"
      "input3 input4"
      "input5 input6"
      "input7 .";
  }
  .inputType p {
    font-size: 15px;
    width: 100px;
  }

  .inputType input {
    font-size: 14px;
  }
}
