.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  background-color: rgb(226, 245, 212);
}

.container p {
  font-size: 20px;
  padding: 10px 20px;
}

.container h1 {
  padding: 10px 15px 20px 20px;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 160px;
  height: 100vh;
  background-color: #2d8014;
  border-radius: 0px 25px 0px 0px;
  padding-top: 10vh;
  padding-left: 2vw;
}

.panel .orderText {
  color: white;
}

.link {
  text-decoration: none;
}

.link p:hover {
  background-color: white;
  color: #0f3703;
  border-radius: 15px 0px 0px 15px;
  box-shadow: inset 0px -22px 0px -21px rgba(45, 128, 20, 1);
}

.link p:active {
  font-weight: 700;
  box-shadow: inset 0px -22px 0px -21px rgba(45, 128, 20, 1);
}

.dataText {
  background-color: white;
  border-radius: 15px 0px 0px 15px;
  /* box-shadow: none; */
}

/* .dataText:hover {
  box-shadow: none;
} */

.panel .dataText {
  color: #0f3703;
  box-shadow: none;
}

.main {
  padding-top: 10vh;
  padding-left: 10vw;
}

.main p {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* @media (max-width: 767px) {
  .container p {
      margin-left: ; 
  }
} */

.dataForm {
  background-color: (226, 245, 212);
  height: auto;
  width: 600px;
  padding: 20px;
}

.form {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 90px 90px 90px 90px;
  gap: 20px;
  justify-content: left;
}

.inputType p {
  font-size: 16px;
  padding-left: 0px;
}

input {
  min-height: 35px;
  width: 200px;
  border-radius: 8px;
  border: solid 1px rgb(168, 168, 168);
  padding: 5px;
}

input[type="text"] {
  width: 100%;
}

input:focus {
  outline: solid 2px #2d8014;
}

.button {
  grid-area: 5 / 1 / 6 / 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100px;
}
