.registerModule {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  background-image: url("../../assets/LoginRegister/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.registerForm {
  background-color: rgba(245, 245, 245, 0.705);
  height: auto;
  width: 550px;
  border-radius: 30px;
  padding: 20px;
  transform: translateY(40px);
}

.welcomeTitle {
  color: black;
  font-size: 20px;
}

.fourTino {
  color: green;
  font-weight: bold;
}

.registerTitle {
  color: black;
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
}

.loginLink {
  color: gray;
  float: right;
  display: grid;
}

.link {
  color: green;
  text-decoration: none;
}

.form {
  margin-top: 10px;
}

.form input {
  margin-bottom: 9px;
}

.form input:first-of-type {
  margin-right: 10px;
}

.fieldError {
  border: 1px solid red !important;
  /* DO ZMIANY! - usunąć important */
}

input[name="name"],
input[name="lastName"],
input[name="phone"] {
  width: 49%;
}

input[type="email"],
input[type="password"] {
  width: 100%;
}

.inputContainer {
  position: relative;
}

.passwordInput {
  width: 100%;
  padding-right: 50px;
}

.togglePasswordButton {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.togglePasswordButton:hover {
  background: none;
}

.togglePasswordButton img {
  width: 30px;
  height: 30px;
}

.label p {
  padding-bottom: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonCss {
  display: block;
}
