.container {
  background-color: #c3eeb9;
  background-image: url(../../assets/Footer/footer.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 230px;
  display: flex;
  align-items: end;
}

.logo {
  height: 100px;
  width: 100px;
  margin: 20px;
  margin-right: 60px;
}

.contParagraphs {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  color: black;
}

.paragraphs {
  padding: 2px;
  color: black;
}
.companyName {
  padding: 2px;
  color: black;
  font-weight: bold;
}

.socialMedia {
  height: 60px;
  margin-left: 10px;
}

.socialName {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
}

.logoContent {
  margin-left: 80px;
}

.adres {
  height: auto;
  width: 300px;
}

.contact {
}

.regonNipKrs {
  font-size: 14px;
  font-weight: lighter;
}
