.container {
  background-image: url(../../assets/Footer/footer3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
}

.contParagraphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  color: black;
  margin-top: 130px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  background-color: #b8d698;
}

/* .container {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
  margin-top: 50px;
}

.contParagraphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  color: black;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  background-color: #b8d698;
  border-top: solid #5da746 1px;
  align-items: center;
  height: 180px;
} */

.logo {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}

.paragraphs,
.companyName,
.regonNipKrs {
  padding: 2px;
  color: black;
}

.socialMedia {
  height: 60px;
}

.socialName {
  font-weight: bold;
  margin-right: 20px;
}

.social {
  display: flex;
  align-items: center;
}

.companyName {
  font-weight: bold;
}

.regonNipKrs {
  margin-top: 20px;
}

.contact {
  margin-top: 10px;
}
