.loginModule {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  background-image: url("../../assets/LoginRegister/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.loginForm {
  background-color: rgba(245, 245, 245, 0.705);
  height: auto;
  width: 550px;
  border-radius: 30px;
  padding: 20px;
  transform: translateY(40px);
}

.welcomeTitle {
  color: black;
  font-size: 20px;
}

.fourTino {
  color: green;
  font-weight: bold;
}

.loginTitle {
  color: black;
  font-size: 36px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

.formLogin {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 40px; */
}

.registerLink {
  color: gray;
  float: right;
  display: grid;
}

.link {
  color: green;
  text-decoration: none;
}

.error {
  border: 1px solid red;
}

.inputContainer {
  position: relative;
  margin-bottom: 40px;
}

.passwordInput {
  width: 100%;
  padding-right: 50px;
}

.togglePasswordButton {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-60%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.togglePasswordButton:hover {
  background: none;
}

.togglePasswordButton img {
  width: 30px;
  height: 30px;
}

.label p {
  padding-bottom: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonCss {
  display: block;
}