.loginModule {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  background-image: url("../../assets/LoginRegister/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.loginForm {
  background-color: rgba(245, 245, 245, 0.705);
  height: auto;
  width: 550px;
  border-radius: 30px;
  padding: 20px;
  transform: translateY(40px);
}

.welcomeTitle {
  color: black;
  font-size: 20px;
}

.fourTino {
  color: green;
  font-weight: bold;
}

.loginTitle {
  color: black;
  font-size: 36px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

.formLogin {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.registerLink {
  color: gray;
  float: right;
  display: grid;
}

.link {
  color: green;
  text-decoration: none;
}

.error {
  border: 1px solid red;
}

.inputContainer {
  position: relative;
  margin-bottom: 40px;
}

.passwordInput {
  width: 100%;
  padding-right: 50px;
}

.togglePasswordButton {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-60%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.togglePasswordButton:hover {
  background: none;
}

.togglePasswordButton img {
  width: 30px;
  height: 30px;
}

.label p {
  padding-bottom: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonCss {
  display: block;
}

/* style mobilne telefony kom */
@media (max-width: 767px) {
  .loginModule {
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 20px;
  }

  .loginForm {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
  }

  .loginTitle {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .welcomeTitle {
    font-size: 24px;
    text-align: center;
  }
  .registerLink {
    float: none;
    text-align: center;
    margin-top: 10px;
  }
  .passwordInput {
    padding-right: 40px;
  }

  .togglePasswordButton img {
    width: 25px;
    height: 25px;
  }

  .buttonCss {
    width: 100%;
    padding: 10px;
  }

  .registerLink {
    font-size: 14px;
  }

  .label p {
    font-size: 14px;
  }

  .inputContainer {
    margin-bottom: 30px;
  }
}

/* style mobilne tablety */
@media (min-width: 768px) and (max-width: 1080px) {
  .loginModule {
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 20px;
  }

  .loginForm {
    width: 75%;
    padding: 20px;
    text-align: center;
  }

  .loginTitle {
    font-size: 32px;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
  }

  .welcomeTitle {
    font-size: 20px;
    text-align: center;
  }

  .registerLink {
    float: none;
    margin-top: 10px;
  }

  .passwordInput {
    padding-right: 45px;
  }

  .togglePasswordButton img {
    width: 28px;
    height: 28px;
  }

  .buttonCss {
    width: 90%;
    padding: 12px;
  }

  .registerLink {
    font-size: 15px;
    text-align: center;
  }

  .label p {
    font-size: 15px;
    text-align: center;
  }

  .inputContainer {
    margin-bottom: 35px;
  }
}
