.container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  height: 240px;
  color: white;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 24px;
  background-image: url(../../.././assets/background_timer.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 0;
}

.container p {
  font-size: 18px;
  font-weight: 400;
}

.info:hover {
  transform: scale(1.2);
}

/* .info {
  width: 25px;
  height: 25px;
  background-color: white;
  color: #2a412f;
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.info::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: #2a412f;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  white-space: pre-wrap;
  width: 200px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.info:hover::after {
  opacity: 1;
  visibility: visible;
} */
